@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e6faf7;
}

.todo-app {
  width: 500px;
  max-width: 1000px;
  margin: 25px auto;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Gochi Hand';
  font-size: 55px;
}

form {
  text-align: center;
  display: flex;
  margin-bottom: 30px;
}

input[type='checkbox'] {
  cursor: pointer;
}

input[type='text'] {
  width: 100%;
  outline-width: 0;
  border-bottom: solid 1px rgb(251, 147, 147);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-family: 'Montserrat';
}

form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}

.todo-container {
  background: #fff;
  width: 100%;
  border-radius: 25px;
  padding: 50px;
  box-shadow: 0 10px 15px -3px hsl(23deg 70% 24% / 15%);
  position: relative;
}

.todo-container:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 9px;
  top: 0;
  margin-left: -1.5em;
  border: 1px solid rgb(251, 147, 147);
  border-width: 0px 1px;
}


.todo-item {
  font-family: 'Montserrat';
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  grid-gap: 5px;
}

.todo-item-text {
  margin-right: auto;
}

.button {
  border: solid .5px black;
  border-radius: 5px;
  background-color: white;
  font-family: 'Montserrat';
}

.add-task {
  width: 85px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(251, 147, 147);
}